<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!--扫描注解类所在包 -->
	<context:component-scan base-package="com.qf.controller"></context:component-scan>
	<!--配置视图的路径，前缀和后缀 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <constructor-arg name="" value=""></constructor-arg> -->
		<!--页面的前缀 -->
		<!--<property name="prefix" value="/WEB-INF/view/"></property>-->
		<!--页面的后缀 -->
		<!-- <property name="suffix" value=".jsp"></property> -->

	</bean>
	<mvc:resources mapping="/images/**" location="/WEB-INF/images/"/>
	<!--配置注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 上传文件拦截，设置最大上传文件大小 10M=10*1024*1024(B)=10485760 bytes -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />
		
	</bean>
	<!--解决SpringMVC的url-pattern的/拦截静态资源的问题 -->
	<mvc:default-servlet-handler />
</beans>