<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.CartMapper">
  <resultMap id="BaseResultMap" type="com.qf.pojo.Cart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="money" jdbcType="INTEGER" property="money" />
  </resultMap>
  <select id="selectByIdWithGid" resultMap="BaseResultMap" parameterType="com.qf.pojo.Cart">
  select * from tb_cart where id=#{id} and pid=#{pid}
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select * from tb_cart where id=#{id}
  </select>

  <delete id="deleteCart" parameterType="com.qf.pojo.Cart">
    delete from tb_cart
    where id = #{id} and pid=#{pid}
  </delete>
  <delete id="deleteCartAfterPay" parameterType="java.lang.Integer">
    delete from tb_cart
    where id = #{id}
  </delete>
  <insert id="insertCart" parameterType="com.qf.pojo.Cart">
    insert into tb_cart (id, pid, num, money)
    values (#{id}, #{pid}, #{num},#{money})
  </insert>

  <update id="updateCart" parameterType="com.qf.pojo.Cart">
    update tb_cart
    set num = #{num},
        money = #{money}
    where id = #{id} and pid=#{pid}
  </update>
</mapper>