<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.qf.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="balance" property="balance"></result>
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, email, gender, flag, role, code,balance
  </sql>

  <update id="updateRecharge" parameterType="com.qf.pojo.User">
    update tb_user set
   balance=#{balance}
   where  id=#{id}
  </update>

  <select id="selectByNameAndpass" parameterType="com.qf.pojo.User" resultMap="BaseResultMap">
  select 
  <include refid="Base_Column_List"/>
  from tb_user where username=#{username} and password=#{password} and flag=1
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.pojo.User">
    insert into tb_user (username, password,email, gender, flag,role, code)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{role,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR})
  </insert>
  <select id="selectByAll" parameterType="com.qf.pojo.UINum2" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" /> 
  	from tb_user
  	<where>
  	<if test="species!=null and title!=null">
  	 ${species} like '%${title}%'
  	</if>
  	<if test="species2!=null and species2!=3">
  	 and flag = #{species2}
  	</if>
  	</where>
  	<if test="sort!=null">
  	order by ${sort}  ${order}
  	</if>
  	  limit #{page},#{rows}
  </select>
  
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from tb_user where username=#{username}
  	
  </select>
  
  <select id="selectByTotal" parameterType="com.qf.pojo.UINum2" resultType="java.lang.Integer">
  	select count(1) from tb_user 
  	<where>
  	<if test="species!=null">
  	 ${species} like '%${title}%'
  	</if>
  	<if test="species2!=null and species2!=3">
  	 and flag = #{species2}
  	</if>
  	</where>
  </select>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.qf.pojo.User">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="code != null">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="deleteByCheck" parameterType="java.util.List">
  update tb_user set flag=2 where id in
	<foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
	#{item}
	
	</foreach>
  
  </update>
  <update id="restoreByCheck" parameterType="java.util.List">
  	update tb_user set flag=1 where id in
  	<foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
  		#{item}
  	</foreach>
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.pojo.User">
    update tb_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.pojo.User">
    update tb_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      role = #{role,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateStatusByEmail" parameterType="com.qf.pojo.User">
    update tb_user
    set flag=1
    where id=#{id}
  </update>
</mapper>